<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="/style.css?v=5">
    <title>Spot Photography</title>
  </head>
  <body class="bg-blue">
    <div id="wrap"><!-- set body height, align footer to bottom -->
      <div class="bg-hd mb-1 pb-1"><!-- nav bar and header wrap -->
        <nav class="nav justify-content-center bg-transparent">
          <!-- <a class="nav-link text-light" href="index.html">Home</a> -->
          <a class="nav-link text-light" href="/">Blog</a>
          <a class="nav-link text-light" href="/archive">Archive</a>
          <!-- <a class="nav-link text-light" href="gallery.html">Gallery</a>
          <a class="nav-link text-light" href="about.html">About</a>
          <a class="nav-link text-light" href="contact.html">Contact</a> -->
        </nav>
        <div class="container-fluid text-white ft-m mb-4"><!-- header wrap -->
          <h1 class="display-2 text-center ft-m mh">Spot Photography</h1>
          <!-- <h6 class="text-center">Michael Prescott</h6>
          <h6 class="text-center text-muted"><em>A gallery of amateur photography</em></h6> -->
        </div><!-- header wrap -->
      </div><!-- nav bar and header wrap -->
      <div><!-- yield to erb -->
      <%= yield %>
      </div><!-- yield to erb -->
      <div style="height: 30px;"><!-- spacer -->
      </div><!-- spacer -->
    </div><!-- set body height, align footer to bottom -->
    <div class="mx-auto text-center" id="footer"><!-- footer wrap -->
      <footer class="footer container-fluid"><!-- footer tag -->
        <div><!-- facebook logo/link -->
          <a href="https://www.facebook.com/michaeldprescott"><img style="width: 20px;" src="https://sguru.org/wp-content/uploads/2018/02/facebook-logo-grey.png" alt="facebook logo"></a>
        </div><!-- facebook logo/link -->
        <div><!-- copyright -->
          <small class="text-secondary">&copy; 2018 Michael Prescott.</small>
        </div><!-- copyright -->
      </footer><!-- footer tag -->
    </div><!-- footer wrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
