<h4 class="text-secondary text-center mt-4"> Oops! It doesn't look like this post exists. Would you like to create a post?</h1>

<form action="/write_post" method="get">
  <div class="text-center mx-auto mt-4">
    <button type="submit" id="create_post" class="btn btn-primary mb-2">Create Post</input>
  </div>
</form>
